.face-detection {
	--section-gap: var(--size-50);

	display: grid;
	justify-content: center;
	justify-items: center;
	text-align: center;
	gap: var(--section-gap);
	padding-block: var(--size-150) min(2.5vw, var(--size-150));
}

@media (min-width: 118em) {
	.face-detection {
		--section-gap: var(--size-75);
	}
}
