.face-detection {
    --section-gap: var(--size-50);

    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: var(--section-gap);
    padding-block-start: var(--section-gap);
}

.face-detection__count {
    line-height: 1;
    font-size: var(--fs-count);
}

.face-detection__form {
    --border-radius: 0.25em;
    --elements-padding: var(--size-25);
    
    justify-self: stretch;
    display: grid;
    gap: var(--size-35);
}

.face-detection__form input[type="file"] {
    display: none;
}

.face-detection__form input, .face-detection__form label {
    padding: var(--elements-padding);
    border-radius: var(--border-radius);
}

.face-detection__form .upload-icon {
    width: var(--size-50);
}

.face-detection__form label.custom-file-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-25);
    border: 2px solid var(--clr-neutral-100);
    font-size: var(--fs-input);
    cursor: pointer;
}

.face-detection__form label.custom-file-input:hover {
    background-color: var(--clr-faded-500);
}

.face-detection__form > button {
    justify-self: center;
    padding: var(--elements-padding);
    border-radius: var(--border-radius);
    background-color: var(--clr-highlight);
}

.face-detection__image-container {
    position: relative;
    outline: 2px solid var(--clr-neutral-100);
    max-height: 35vh;
    opacity: 0;
}

.face-detection__image-container[data-show] {
    opacity: 1;
}

.face-detection__image-container > img {
    width: 100%;
    height: 100%;
}

.face-detection__image-container > .boundingBox {
    position: absolute;
    background-color: transparent;
    border: 2px solid var(--clr-detection);
}

.face-detection__image-container .detection-name {
    position: absolute;
    min-width: max-content;
    background-color: var(--clr-detection-faded-400);
    font-size: var(--fs-detection);
    padding: var(--size-15);
    border-radius: var(--size-15);
    left: 0;
    bottom: 0;
    transform: translate(-30%, 130%);
}

.face-detection__image-container .loader[data-show] {
    --width: var(--size-100);

    opacity: 1;
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    aspect-ratio: 1;
    width: var(--width);
}

@media (min-width: 69em) {
    .face-detection > p {
        max-width: 70ch;
    }

    .face-detection__form {
        grid-template-columns: 80% 20%;
        gap: 0;
    }

    .face-detection__form label.custom-file-input {
        border-start-end-radius: 0;
        border-end-end-radius: 0;
        border-inline-end: none;
    }

    .face-detection__form > button {
        width: 100%;
        border-start-start-radius: 0;
        border-end-start-radius: 0;
    }

    .face-detection__form > button:is(:hover, :focus-visible) {
        color: var(--clr-neutral-100);
        background-color: var(--clr-highlight-hover);
    }

    .face-detection__image-container {
        max-width: 80%;
        max-height: 38vh;
    }
}

@media (min-width: 118em) {
    .face-detection {
        --section-gap: var(--size-75);
    }

    .face-detection__image-container {
        max-height: 42.5vh;
    }
}