.detection-form {
	--border-radius: 0.25em;
	--elements-padding: var(--size-25);

	justify-self: stretch;
	display: grid;
	gap: var(--size-35);
}

.detection-form input[type="file"] {
	display: none;
}

.detection-form input,
.detection-form label {
	padding: var(--elements-padding);
	border-radius: var(--border-radius);
}

.input-icon {
	width: var(--size-50);
}

.detection-form > button {
	justify-self: center;
	padding: var(--elements-padding);
	border-radius: var(--border-radius);
	background-color: var(--clr-highlight);
}

.image-container {
	position: relative;
	outline: 2px solid var(--clr-neutral-100);
	max-height: 35vh;
	opacity: 0;
	transition: opacity 500ms ease;
}

.image-container[data-show] {
	opacity: 1;
}

.image-container > img {
	width: 100%;
	height: 100%;
}

@media (min-width: 69em) {
	.detection-form {
		grid-template-columns: 80% 20%;
		gap: 0;
	}

	.detection-form > button {
		width: 100%;
		border-start-start-radius: 0;
		border-end-start-radius: 0;
		color: var(--clr-neutral-100);
	}

	.detection-form > button:not(:disabled):is(:hover, :focus-visible) {
		background-color: var(--clr-highlight-hover);
	}

	.image-container {
		max-width: 38vw;
		max-height: 33vh;
	}
}

@media (min-width: 85em) {
	.image-container {
		max-height: 36vh;
	}
}

@media (min-width: 118em) {
	.image-container {
		max-height: 42vh;
	}
}
