.hero__demo {
	--detection-container-space: 85%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: min(100%, var(--size-805));
	aspect-ratio: 5 / 6;
	background-color: var(--clr-faded-900);
	border-radius: var(--size-25);
	overflow: hidden;
}

.demo-thumbnails--container {
	--gap: 0.5em;

	width: 100%;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--gap);
	box-shadow: 0.5px 0 var(--size-25) var(--clr-neutral-100);
	padding: var(--gap);
}

.demo-thumbnail {
	--max-visible-thumbnails: 6;

	max-width: calc(100% / var(--max-visible-thumbnails));
	aspect-ratio: 1;
	border-radius: var(--size-25);
	max-height: 100%;
	overflow: hidden;
	opacity: 0.7;
}

.demo-thumbnail:hover,
.demo-thumbnail:focus-visible {
	opacity: 1;
}

.demo-thumbnail[data-selected] {
	opacity: 1;
	outline: 1px solid var(--clr-highlight);
}

.demo-thumbnail > img {
	width: 100%;
	height: 100%;
}

.demo-detection--container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: var(--detection-container-space);
}

.demo-detection--container > img {
	height: 85%;
	aspect-ratio: 1;
}

@media (min-width: 69rem) {
	.hero__demo {
		flex-direction: row;
		width: clamp(var(--size-800), 37vw, var(--size-850));
		aspect-ratio: 3 / 2;
	}

	.demo-thumbnails--container {
		width: unset;
		height: 100%;
		flex-direction: column;
	}

	.demo-thumbnail {
		max-width: unset;
		max-height: calc(100% / var(--max-visible-thumbnails));
	}

	.demo-detection--container {
		width: var(--detection-container-space);
		height: 100%;
	}

	.demo-detection--container > img {
		height: 90%;
	}
}
