.navbar {
    display: flex;
    align-items: center;
    background-color: var(--clr-faded-900);
    padding: var(--size-50);
}

.navbar__brand {
    display: flex;
    align-items: center;
    gap: var(--size-50);
    max-width: var(--size-450);
    user-select: none;
}

.navbar__brand > span {
    font-size: clamp(var(--fs-250), 1.35vw, var(--fs-275));
}

.navbar__brand img {
    width: 100%;
    aspect-ratio: 1;
}

.navbar__nav {
    display: flex;
    gap: var(--size-75);
    margin-left: auto;
}

@media (max-width: 69em) {
    .navbar__brand > span {
        display: none;
    }
}