.detection-container {
	position: relative;
}

.detection-loader[data-show] {
	--width: var(--size-100);

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: var(--width);
}

.error-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 70%;
	font-size: 0.85em;
	background-color: var(--clr-faded-300);
	border-radius: 0.5em;
	opacity: 0;
	transition: opacity 500ms ease;
}

.error-message[data-show] {
	opacity: 1;
}
