@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --clr-gradient-left: hsl(184, 100%, 36%);
    --clr-gradient-right: hsl(233, 84%, 25%);
    
    --clr-faded-500: hsl(0, 0%, 0%, 0.2);
    --clr-faded-800: hsl(0, 0%, 0%, 0.05);
    --clr-faded-900: hsl(0, 0%, 0%, 0.025);

    --clr-neutral-100: hsl(0, 0%, 90%);
    --clr-neutral-300: hsl(0, 0%, 79%);
    --clr-neutral-800: hsl(0, 0%, 20%);
    --clr-neutral-900: hsl(0, 0%, 0%);

    --ff-primary: 'Space Mono', monospace;
    --ff-secondary: 'Space Mono', monospace;

    --fs-125: 0.7rem;
    --fs-175: 0.85rem;
    --fs-200: 1rem;
    --fs-250: 1.15rem;
    --fs-275: 1.4rem;

    --fs-body: clamp(var(--fs-200), 1.25vw, var(--fs-250));
    --fs-nav-links: ;
    --fs-secondary-text: clamp(var(--fs-125), 1.2vw, var(--fs-200));

    --size-15: 0.25rem;
    --size-25: 0.5rem;
    --size-50: 1rem;
    --size-75: 1.25rem;
    --size-100: 1.5rem;
    --size-150: 2rem;
    --size-450: 5.75rem;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
    color: inherit;
    text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General Styling */

body {
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    color: var(--clr-neutral-100);
    background: linear-gradient(to right bottom, var(--clr-gradient-left), var(--clr-gradient-right));
}

a {
    outline: 0;
}

input {
    outline: 0;
    border: 1px solid var(--clr-neutral-100);
}

input:focus-visible {
    border-color: var(--clr-neutral-100);
    box-shadow: 0 0 0.5rem var(--clr-neutral-100);
}

button {
    cursor: pointer;
    color: var(--clr-neutral-100);
    background-color: transparent;
    border: 0;
    outline: 0;
}

button:is(:hover, :focus-visible), a:is(:hover, :focus-visible) {
    color: var(--clr-neutral-300);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 120rem;
    margin-inline: auto;
}

.container {
    --max-width: 120rem;
    --inline-gap: var(--size-150);

    width: min(var(--max-width), 100% - (var(--inline-gap) * 2));
    margin-inline: auto;
}

/* Utility classes */

.secondary-text {
    font-size: var(--fs-secondary-text);
}

.text-underline {
    text-decoration: underline;
}

.justify-self-center {
    justify-self: center;
}