@media (min-width: 28em) {
	.log-in {
		padding-block: min(5vw, var(--size-450));
	}

	.log-in__form {
		width: clamp(20rem, 26vw, 26rem);
	}

	.log-in__form h2 {
		padding-block-end: var(--size-50);
	}
}
