.custom-file-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-25);
  border: 2px solid var(--clr-neutral-100);
  font-size: var(--fs-input);
  cursor: pointer;
}

.custom-file-input:hover,
.custom-file-input:focus-within {
  background-color: var(--clr-faded-500);
}

.custom-file-input > input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (min-width: 69em) {
  .custom-file-input {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    border-inline-end: none;
  }
}
